<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shnsaraswati.applikasiberbagimakanan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApplikasiBerbagiMakanan">
        <activity android:name=".view.dashboard.HalamanEditAkun"></activity>
        <activity android:name=".view.dashboard.HalamanAkun" />
        <activity android:name=".view.dashboard.HalamanKataSandiBaru" />
        <activity android:name=".view.otentikasi.HalamanLupaKataSandi" />
        <activity android:name=".view.otentikasi.HalamanPendaftaranBerhasil" />
        <activity android:name=".view.otentikasi.HalamanVerifikasi" />
        <activity android:name=".view.otentikasi.HalamanDaftar" />
        <activity android:name=".view.otentikasi.HalamanLogin" />
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>